{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
<aside id="featured" class="body">    
<h2>About Me</h2>
<footer class="post-info">
<img src="{{ SITEURL }}/yanjun.jpg" />
</footer>
    {% for page in PAGES %}
		{% if page.slug == 'about' %}
			{{ page.content }}        	
		{% endif %}
    {% endfor %}
</aside>
       
<section id="content" class="body">
                    <h1>Other articles</h1>
                    <hr />
                    <ol id="posts-list" class="hfeed">

    {% for article in articles_page.object_list %}        

        {# other items #}
            <li><article class="hentry">    
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                </header>
                
                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            </article></li>
        {% if loop.last %}
            </ol><!-- /#posts-list -->
            {% if loop.last and (articles_page.has_previous() 
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
			</section><!-- /#content -->
        {% endif %}
    {% endfor %}
{% endblock content %}
